## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [61]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [62]:
# 1) Seu código aqui

perc_mat = df_mat / 24
perc_por = df_por / 18
perc_geo = df_geo /  8
perc_ing = df_ing /  8
perc_his = df_his /  8
perc_fis = df_fis /  8
perc_qui = df_qui /  8
perc_mat, perc_por, perc_geo, perc_ing, perc_his, perc_fis, perc_qui

(    Qt_acertos
 0     0.250000
 1     0.791667
 2     0.583333
 3     0.416667
 4     0.291667
 ..         ...
 95    0.250000
 96    0.333333
 97    0.958333
 98    0.000000
 99    0.458333

 [100 rows x 1 columns],
     Qt_acertos
 0     0.388889
 1     0.555556
 2     0.888889
 3     0.388889
 4     0.111111
 ..         ...
 95    0.222222
 96    0.055556
 97    0.277778
 98    0.555556
 99    0.833333

 [100 rows x 1 columns],
     Qt_acertos
 0        0.875
 1        0.000
 2        0.000
 3        0.375
 4        0.250
 ..         ...
 95       0.875
 96       0.500
 97       0.000
 98       0.375
 99       0.000

 [100 rows x 1 columns],
     Qt_acertos
 0        0.375
 1        0.000
 2        0.625
 3        0.500
 4        0.875
 ..         ...
 95       0.125
 96       0.750
 97       0.250
 98       0.125
 99       0.125

 [100 rows x 1 columns],
     Qt_acertos
 0        0.125
 1        0.000
 2        0.875
 3        0.000
 4        0.000
 ..         ...
 95       0.500
 96       0.125
 97       0.500
 98       0.625
 99       0.750

 [100 rows x 1 columns],
     Qt_acertos
 0        1.000
 1        1.375
 2        0.500
 3        0.000
 4        1.125
 ..         ...
 95       1.125
 96       0.500
 97       0.125
 98       1.250
 99       0.875

 [100 rows x 1 columns],
     Qt_acertos
 0        0.375
 1        1.000
 2        0.500
 3        1.000
 4        0.375
 ..         ...
 95       0.375
 96       0.375
 97       0.625
 98       1.375
 99       0.250

 [100 rows x 1 columns])

In [63]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [64]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [65]:
# 4) Seu código aqui
acima_45 = total[total['Qt_acertos'] > 45]
acima_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [66]:
# seu código aqui

bool_mask = (df_mat['Qt_acertos'] == 0) | (df_fis['Qt_acertos'] == 0) | (df_qui['Qt_acertos'] == 0)
desqualificados = total[bool_mask]
desqualificados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [67]:
arquivo = 'registros de vacinacao covid ACRE.csv'

In [68]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')
df.tail()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
169066,1d8f6ea9-d3f5-4882-9fe4-9d2f3ef88d77-i0b0,8048cb43bf62574837987f9351325ab06d3bc3884ee2f7...,25,1995-02-05,F,5,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,202010028,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-26,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-03T19:13:58.000Z,NaN
169067,77ff98a4-79fb-47c9-aafa-8bf45708c4bc-i0b0,0548218b49585839b8f83c202bccac61f6a9c48cc1ea94...,68,1953-02-03,M,4,AMARELA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-25,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T21:20:19.000Z,NaN
169068,1da067bc-9989-4fa4-8838-e1e40cdfeebf-i0b0,de5f1131ff4f954cfb28ebdcb964b6e25e83620ce9df49...,65,1955-06-05,M,2,PRETA,120017.0,10.0,CAPIXABA,...,210077,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-30,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-31T20:38:55.000Z,NaN
169069,eacc22e0-6f78-460f-a8e7-d85c6129951e-i0b0,fd1fb8d6e5de6eceeb7bb8246243d3c5cf85cdca01d849...,76,1944-06-15,F,1,BRANCA,120040.0,10.0,RIO BRANCO,...,4120Z025,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-02-26,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-02-27T23:41:11.000Z,NaN
169070,02795bd0-b1a7-49c1-83ca-90a9f9b4b794-i0b0,a22dbf631ad78dc6961100cbd6ec5f12ee80cd25148d84...,81,1939-08-08,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,4120Z025,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-02-27,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-03-15T14:27:07.000Z,NaN

In [69]:
print(f"Estão registradas {df.shape[0]} vacinas")

Estão registradas 169071 vacinas

In [70]:
# 2) 
df['paciente_id'].unique().size

120517

In [71]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].unique().size

119713

In [72]:
# 4) 
df[df["paciente_idade"]<18]['paciente_id'].unique().size

47

In [73]:
# 5)
df['estabelecimento_razaosocial'].unique().size

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [74]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [75]:
# 2) 
colunas = df_menor.columns
colunas

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [76]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [77]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

estabelecimento_col = [x for x in colunas if 'estabelecimento' in x]
estabelecimento_col

['estabelecimento_valor',
 'estabelecimento_razaosocial',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [78]:
# 5)
df_menor = df_menor.loc[:, estabelecimento_col]
df_menor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 1567 to 164449
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   estabelecimento_valor             55 non-null     int64
 1   estabelecimento_razaosocial       55 non-null     object
 2   estabelecimento_municipio_codigo  55 non-null     int64
 3   estabelecimento_municipio_nome    55 non-null     object
 4   estabelecimento_uf                55 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.6+ KB

In [79]:
# 6)
df_menor = df_menor.drop_duplicates()
df_menor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 1567 to 140895
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   estabelecimento_valor             18 non-null     int64
 1   estabelecimento_razaosocial       18 non-null     object
 2   estabelecimento_municipio_codigo  18 non-null     int64
 3   estabelecimento_municipio_nome    18 non-null     object
 4   estabelecimento_uf                18 non-null     object
dtypes: int64(2), object(3)
memory usage: 864.0+ bytes