# 1. Passo a passo

1. Baixar base de dados
2. Criar as amostras com reposição e colocar numa lista
3. Para cada amostra, dividir em treino e teste, selecionando aleatoriamente apenas duas colunas
4. Para cada amostra, treinar o modelo
5. Para cada amostra, criar uma previsões de teste. O dado a ser usado para o teste deve conter apenas as colunas nas quais o modelo foi criado
6. Juntar todas as previsões em um dataframe.
7. Fazer a agregação a partir das frequências

# 2. Descrição

O Random Forest é um processo de junção de modelos para melhorar a eficácia do resultado. Consiste em se criar amostras variadas com repetição em cima do conjunto de dados inicial. Cada amostra deve conter um número reduzido de colunas (geralmente a raiz do total de colunas) e devem ser escolhidas aleatoriamente. Psoteriormente, serão utilizadas para treinar um modelo e cada modelo será utilizado para se tirar previsões. À partir dessas previsões, utilizamos uma ténica de agregação para entender qual o melhor resultado. No caso de variáveis discretas, o melhor resultado é o que tiver maior frequência entre os diferentes modelos. Para variáveis contínuas, o melhor resultado é a média de todos os resultados.

In [1]:
import math
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = sns.load_dataset("penguins")
df.dropna(inplace=True)
df['species'] = df['species'].map({'Adelie': 0, 'Chinstrap':1, 'Gentoo': 2 })
df['sex'] = df['sex'].map({'Male':0, 'Female':1})
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Torgersen,39.1,18.7,181.0,3750.0,0
1,0,Torgersen,39.5,17.4,186.0,3800.0,1
2,0,Torgersen,40.3,18.0,195.0,3250.0,1
4,0,Torgersen,36.7,19.3,193.0,3450.0,1
5,0,Torgersen,39.3,20.6,190.0,3650.0,0
...,...,...,...,...,...,...,...
338,2,Biscoe,47.2,13.7,214.0,4925.0,1
340,2,Biscoe,46.8,14.3,215.0,4850.0,1
341,2,Biscoe,50.4,15.7,222.0,5750.0,0
342,2,Biscoe,45.2,14.8,212.0,5200.0,1
343,2,Biscoe,49.9,16.1,213.0,5400.0,0

In [3]:
n_col = math.floor(np.sqrt(len(df.columns)))

In [4]:
amostras = []

for i in range(20):
    amostra = df.sample(len(df), replace=True, random_state=i)
    amostras.append(amostra)
    
amostras

[     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 178        1      Dream            50.5           18.4              200.0
 53         0     Biscoe            42.0           19.5              200.0
 123        0  Torgersen            41.4           18.5              202.0
 198        1      Dream            50.1           17.9              190.0
 332        2     Biscoe            43.5           15.2              213.0
 ..       ...        ...             ...            ...                ...
 233        2     Biscoe            48.4           14.6              213.0
 281        2     Biscoe            46.2           14.9              221.0
 298        2     Biscoe            45.2           13.8              215.0
 57         0     Biscoe            40.6           18.8              193.0
 164        1      Dream            47.0           17.3              185.0

      body_mass_g  sex
 178       3400.0    1
 53        4050.0    0
 123       3875.0    0
 198       3400.0    1
 332       4650.0    1
 ..           ...  ...
 233       5850.0    0
 281       5300.0    0
 298       4750.0    1
 57        3800.0    0
 164       3700.0    1

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 42         0      Dream            36.0           18.5              186.0
 241        2     Biscoe            45.1           14.5              215.0
 78         0  Torgersen            36.2           16.1              187.0
 262        2     Biscoe            45.3           13.7              210.0
 209        1      Dream            49.3           19.9              203.0
 ..       ...        ...             ...            ...                ...
 118        0  Torgersen            35.7           17.0              189.0
 150        0      Dream            36.0           17.1              187.0
 164        1      Dream            47.0           17.3              185.0
 121        0  Torgersen            37.7           19.8              198.0
 112        0     Biscoe            39.7           17.7              193.0

      body_mass_g  sex
 42        3100.0    1
 241       5000.0    1
 78        3550.0    1
 262       4300.0    1
 209       4050.0    0
 ..           ...  ...
 118       3350.0    1
 150       3700.0    1
 164       3700.0    1
 121       3500.0    0
 112       3200.0    1

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 174        1      Dream            43.2           16.6              187.0
 20         0     Biscoe            37.8           18.3              174.0
 78         0  Torgersen            36.2           16.1              187.0
 27         0     Biscoe            40.5           17.9              187.0
 307        2     Biscoe            51.3           14.2              218.0
 ..       ...        ...             ...            ...                ...
 285        2     Biscoe            49.8           16.8              230.0
 263        2     Biscoe            49.6           15.0              216.0
 160        1      Dream            46.0           18.9              195.0
 333        2     Biscoe            51.5           16.3              230.0
 185        1      Dream            51.0           18.8              203.0

      body_mass_g  sex
 174       2900.0    1
 20        3400.0    1
 78        3550.0    1
 27        3200.0    1
 307       5300.0    0
 ..           ...  ...
 285       5700.0    0
 263       4750.0    0
 160       4150.0    1
 333       5500.0    0
 185       4100.0    0

 [333 rows x 7 columns],
      species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 158        1   Dream            46.1           18.2              178.0
 256        2  Biscoe            42.6           13.7              213.0
 137        0   Dream            40.2           20.1              200.0
 263        2  Biscoe            49.6           15.0              216.0
 284        2  Biscoe            45.8           14.2              219.0
 ..       ...     ...             ...            ...                ...
 327        2  Biscoe            53.4           15.8              219.0
 160        1   Dream            46.0           18.9              195.0
 247        2  Biscoe            47.8           15.0              215.0
 229        2  Biscoe            46.8           15.4              215.0
 134        0   Dream            38.1           17.6              187.0

      body_mass_g  sex
 158       3250.0    1
 256       4950.0    1
 137       3975.0    0
 263       4750.0    0
 284       4700.0    1
 ..           ...  ...
 327       5500.0    0
 160       4150.0    1
 247       5650.0    0
 229       5150.0    0
 134       3425.0    1

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 128        0  Torgersen            39.0           17.1              191.0
 180        1      Dream            46.4           17.8              191.0
 203        1      Dream            51.4           19.0              201.0
 93         0      Dream            39.6           18.1              186.0
 314        2     Biscoe            44.5           14.7              214.0
 ..       ...        ...             ...            ...                ...
 227        2     Biscoe            46.7           15.3              219.0
 44         0      Dream            37.0           16.9              185.0
 279        2     Biscoe            50.4           15.3              224.0
 56         0     Biscoe            39.0           17.5              186.0
 33         0      Dream            40.9           18.9              184.0

      body_mass_g  sex
 128       3050.0    1
 180       3700.0    1
 203       3950.0    0
 93        4450.0    0
 314       4850.0    1
 ..           ...  ...
 227       5200.0    0
 44        3000.0    1
 279       5550.0    0
 56        3550.0    1
 33        3900.0    0

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 212        1      Dream            51.9           19.5              206.0
 195        1      Dream            45.5           17.0              196.0
 124        0  Torgersen            35.2           15.9              186.0
 79         0  Torgersen            42.1           19.1              195.0
 13         0  Torgersen            38.6           21.2              191.0
 ..       ...        ...             ...            ...                ...
 243        2     Biscoe            46.3           15.8              215.0
 7          0  Torgersen            39.2           19.6              195.0
 179        1      Dream            49.5           19.0              200.0
 64         0     Biscoe            36.4           17.1              184.0
 327        2     Biscoe            53.4           15.8              219.0

      body_mass_g  sex
 212       3950.0    0
 195       3500.0    1
 124       3050.0    1
 79        4000.0    0
 13        3800.0    0
 ..           ...  ...
 243       5050.0    0
 7         4675.0    0
 179       3800.0    0
 64        2850.0    1
 327       5500.0    0

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 207        1      Dream            52.2           18.8              197.0
 233        2     Biscoe            48.4           14.6              213.0
 112        0     Biscoe            39.7           17.7              193.0
 327        2     Biscoe            53.4           15.8              219.0
 289        2     Biscoe            50.7           15.0              223.0
 ..       ...        ...             ...            ...                ...
 69         0  Torgersen            41.8           19.4              198.0
 165        1      Dream            52.0           18.1              201.0
 224        2     Biscoe            47.6           14.5              215.0
 236        2     Biscoe            42.0           13.5              210.0
 221        2     Biscoe            50.0           16.3              230.0

      body_mass_g  sex
 207       3450.0    0
 233       5850.0    0
 112       3200.0    1
 327       5500.0    0
 289       5550.0    0
 ..           ...  ...
 69        4450.0    0
 165       4050.0    0
 224       5400.0    0
 236       4150.0    1
 221       5700.0    0

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 181        1      Dream            52.8           20.0              205.0
 202        1      Dream            48.1           16.4              199.0
 30         0      Dream            39.5           16.7              178.0
 73         0  Torgersen            45.8           18.9              197.0
 217        1      Dream            49.6           18.2              193.0
 ..       ...        ...             ...            ...                ...
 33         0      Dream            40.9           18.9              184.0
 187        1      Dream            47.5           16.8              199.0
 85         0      Dream            41.3           20.3              194.0
 108        0     Biscoe            38.1           17.0              181.0
 340        2     Biscoe            46.8           14.3              215.0

      body_mass_g  sex
 181       4550.0    0
 202       3325.0    1
 30        3250.0    1
 73        4150.0    0
 217       3775.0    0
 ..           ...  ...
 33        3900.0    0
 187       3900.0    1
 85        3550.0    0
 108       3175.0    1
 340       4850.0    1

 [333 rows x 7 columns],
      species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 139        0   Dream            39.7           17.9              193.0
 142        0   Dream            32.1           15.5              188.0
 197        1   Dream            50.8           18.5              201.0
 54         0  Biscoe            34.5           18.1              187.0
 91         0   Dream            41.1           18.1              205.0
 ..       ...     ...             ...            ...                ...
 303        2  Biscoe            50.0           15.9              224.0
 299        2  Biscoe            45.2           16.4              223.0
 228        2  Biscoe            43.3           13.4              209.0
 172        1   Dream            42.4           17.3              181.0
 298        2  Biscoe            45.2           13.8              215.0

      body_mass_g  sex
 139       4250.0    0
 142       3050.0    1
 197       4450.0    0
 54        2900.0    1
 91        4300.0    0
 ..           ...  ...
 303       5350.0    0
 299       5950.0    0
 228       4400.0    1
 172       3600.0    1
 298       4750.0    1

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 132        0      Dream            36.8           18.5              193.0
 62         0     Biscoe            37.6           17.0              185.0
 258        2     Biscoe            44.0           13.6              208.0
 131        0  Torgersen            43.1           19.2              197.0
 71         0  Torgersen            39.7           18.4              190.0
 ..       ...        ...             ...            ...                ...
 55         0     Biscoe            41.4           18.6              191.0
 341        2     Biscoe            50.4           15.7              222.0
 290        2     Biscoe            47.7           15.0              216.0
 242        2     Biscoe            46.5           14.5              213.0
 155        1      Dream            45.4           18.7              188.0

      body_mass_g  sex
 132       3500.0    1
 62        3600.0    1
 258       4350.0    1
 131       3500.0    0
 71        3900.0    0
 ..           ...  ...
 55        3700.0    0
 341       5750.0    0
 290       4750.0    1
 242       4400.0    1
 155       3525.0    1

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 272        2     Biscoe            45.1           14.4              210.0
 131        0  Torgersen            43.1           19.2              197.0
 20         0     Biscoe            37.8           18.3              174.0
 329        2     Biscoe            48.1           15.1              209.0
 129        0  Torgersen            44.1           18.0              210.0
 ..       ...        ...             ...            ...                ...
 55         0     Biscoe            41.4           18.6              191.0
 136        0      Dream            35.6           17.5              191.0
 335        2     Biscoe            55.1           16.0              230.0
 231        2     Biscoe            49.0           16.1              216.0
 34         0      Dream            36.4           17.0              195.0

      body_mass_g  sex
 272       4400.0    1
 131       3500.0    0
 20        3400.0    1
 329       5500.0    0
 129       4000.0    0
 ..           ...  ...
 55        3700.0    0
 136       3175.0    1
 335       5850.0    0
 231       5550.0    0
 34        3325.0    1

 [333 rows x 7 columns],
      species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 197        1   Dream            50.8           18.5              201.0
 86         0   Dream            36.3           19.5              190.0
 97         0   Dream            40.3           18.5              196.0
 276        2  Biscoe            43.8           13.9              208.0
 343        2  Biscoe            49.9           16.1              213.0
 ..       ...     ...             ...            ...                ...
 219        1   Dream            50.2           18.7              198.0
 244        2  Biscoe            42.9           13.1              215.0
 248        2  Biscoe            48.2           14.3              210.0
 215        1   Dream            55.8           19.8              207.0
 244        2  Biscoe            42.9           13.1              215.0

      body_mass_g  sex
 197       4450.0    0
 86        3800.0    0
 97        4350.0    0
 276       4300.0    1
 343       5400.0    0
 ..           ...  ...
 219       3775.0    1
 244       5000.0    1
 248       4600.0    1
 215       4000.0    0
 244       5000.0    1

 [333 rows x 7 columns],
      species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 342        2  Biscoe            45.2           14.8              212.0
 161        1   Dream            51.3           19.9              198.0
 260        2  Biscoe            42.7           13.7              208.0
 248        2  Biscoe            48.2           14.3              210.0
 136        0   Dream            35.6           17.5              191.0
 ..       ...     ...             ...            ...                ...
 113        0  Biscoe            42.2           19.5              197.0
 23         0  Biscoe            38.2           18.1              185.0
 165        1   Dream            52.0           18.1              201.0
 212        1   Dream            51.9           19.5              206.0
 186        1   Dream            49.7           18.6              195.0

      body_mass_g  sex
 342       5200.0    1
 161       3700.0    0
 260       3950.0    1
 248       4600.0    1
 136       3175.0    1
 ..           ...  ...
 113       4275.0    0
 23        3950.0    0
 165       4050.0    0
 212       3950.0    0
 186       3600.0    0

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 182        1      Dream            40.9           16.6              187.0
 80         0  Torgersen            34.6           17.2              189.0
 21         0     Biscoe            37.7           18.7              180.0
 236        2     Biscoe            42.0           13.5              210.0
 251        2     Biscoe            42.8           14.2              209.0
 ..       ...        ...             ...            ...                ...
 250        2     Biscoe            47.3           15.3              222.0
 319        2     Biscoe            51.1           16.5              225.0
 301        2     Biscoe            52.5           15.6              221.0
 186        1      Dream            49.7           18.6              195.0
 151        0      Dream            41.5           18.5              201.0

      body_mass_g  sex
 182       3200.0    1
 80        3200.0    1
 21        3600.0    0
 236       4150.0    1
 251       4700.0    1
 ..           ...  ...
 250       5250.0    0
 319       5250.0    0
 301       5450.0    0
 186       3600.0    0
 151       4000.0    0

 [333 rows x 7 columns],
      species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 113        0  Biscoe            42.2           19.5              197.0
 275        2  Biscoe            45.0           15.4              220.0
 337        2  Biscoe            48.8           16.2              222.0
 256        2  Biscoe            42.6           13.7              213.0
 240        2  Biscoe            50.2           14.3              218.0
 ..       ...     ...             ...            ...                ...
 85         0   Dream            41.3           20.3              194.0
 67         0  Biscoe            41.1           19.1              188.0
 142        0   Dream            32.1           15.5              188.0
 303        2  Biscoe            50.0           15.9              224.0
 279        2  Biscoe            50.4           15.3              224.0

      body_mass_g  sex
 113       4275.0    0
 275       5050.0    0
 337       6000.0    0
 256       4950.0    1
 240       5700.0    0
 ..           ...  ...
 85        3550.0    0
 67        4100.0    0
 142       3050.0    1
 303       5350.0    0
 279       5550.0    0

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 252        2     Biscoe            45.1           14.5              207.0
 139        0      Dream            39.7           17.9              193.0
 162        1      Dream            46.6           17.8              193.0
 161        1      Dream            51.3           19.9              198.0
 205        1      Dream            50.7           19.7              203.0
 ..       ...        ...             ...            ...                ...
 7          0  Torgersen            39.2           19.6              195.0
 256        2     Biscoe            42.6           13.7              213.0
 259        2     Biscoe            48.7           15.7              208.0
 55         0     Biscoe            41.4           18.6              191.0
 231        2     Biscoe            49.0           16.1              216.0

      body_mass_g  sex
 252       5050.0    1
 139       4250.0    0
 162       3800.0    1
 161       3700.0    0
 205       4050.0    0
 ..           ...  ...
 7         4675.0    0
 256       4950.0    1
 259       5350.0    0
 55        3700.0    0
 231       5550.0    0

 [333 rows x 7 columns],
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 175        1      Dream            50.6           19.4              193.0
 244        2     Biscoe            42.9           13.1              215.0
 127        0  Torgersen            41.5           18.3              195.0
 75         0  Torgersen            42.8           18.5              195.0
 330        2     Biscoe            50.5           15.2              216.0
 ..       ...        ...             ...            ...                ...
 96         0      Dream            38.1           18.6              190.0
 173        1      Dream            48.5           17.5              191.0
 68         0  Torgersen            35.9           16.6              190.0
 36         0      Dream            38.8           20.0              190.0

In [5]:

amostras[0].drop(['species', 'island'], axis=1).sample(2, axis='columns')

     body_mass_g  flipper_length_mm
178       3400.0              200.0
53        4050.0              200.0
123       3875.0              202.0
198       3400.0              190.0
332       4650.0              213.0
..           ...                ...
233       5850.0              213.0
281       5300.0              221.0
298       4750.0              215.0
57        3800.0              193.0
164       3700.0              185.0

[333 rows x 2 columns]

In [6]:
splits = []
for amostra in amostras:
    #print(amostra['island'])
    X = amostra.drop(['species', 'island'], axis=1).sample(2, axis='columns')
    y = amostra['species']
    splits.append(train_test_split(X, y, test_size=0.3))
    
splits

[[     body_mass_g  bill_length_mm
  274       4900.0            46.5
  298       4750.0            45.2
  141       3475.0            40.6
  180       3700.0            46.4
  208       3250.0            45.2
  ..           ...             ...
  93        4450.0            39.6
  224       5400.0            47.6
  255       5400.0            48.4
  263       4750.0            49.6
  167       4050.0            50.5

  [233 rows x 2 columns],
       body_mass_g  bill_length_mm
  295       5800.0            48.6
  221       5700.0            50.0
  49        4150.0            42.3
  182       3200.0            40.9
  142       3050.0            32.1
  ..           ...             ...
  50        3500.0            39.6
  205       4050.0            50.7
  46        3425.0            41.1
  204       3600.0            45.7
  265       4900.0            43.6

  [100 rows x 2 columns],
  274    2
  298    2
  141    0
  180    1
  208    1
        ..
  93     0
  224    2
  255    2
  263    2
  167    1
  Name: species, Length: 233, dtype: int64,
  295    2
  221    2
  49     0
  182    1
  142    0
        ..
  50     0
  205    1
  46     0
  204    1
  265    2
  Name: species, Length: 100, dtype: int64],
 [     flipper_length_mm  bill_depth_mm
  209              203.0           19.9
  40               182.0           18.0
  35               196.0           21.1
  199              212.0           19.6
  118              189.0           17.0
  ..                 ...            ...
  155              188.0           18.7
  304              212.0           13.8
  112              193.0           17.7
  37               180.0           18.5
  151              201.0           18.5

  [233 rows x 2 columns],
       flipper_length_mm  bill_depth_mm
  287              229.0           16.2
  334              217.0           14.1
  289              223.0           15.0
  210              202.0           18.8
  343              213.0           16.1
  ..                 ...            ...
  128              191.0           17.1
  326              210.0           14.7
  156              197.0           19.8
  296              209.0           14.2
  150              187.0           17.1

  [100 rows x 2 columns],
  209    1
  40     0
  35     0
  199    1
  118    0
        ..
  155    1
  304    2
  112    0
  37     0
  151    0
  Name: species, Length: 233, dtype: int64,
  287    2
  334    2
  289    2
  210    1
  343    2
        ..
  128    0
  326    2
  156    1
  296    2
  150    0
  Name: species, Length: 100, dtype: int64],
 [     body_mass_g  flipper_length_mm
  217       3775.0              193.0
  224       5400.0              215.0
  273       5000.0              225.0
  143       3725.0              190.0
  192       3950.0              210.0
  ..           ...                ...
  290       4750.0              216.0
  261       5700.0              225.0
  104       2925.0              193.0
  243       5050.0              215.0
  328       4575.0              208.0

  [233 rows x 2 columns],
       body_mass_g  flipper_length_mm
  103       4250.0              190.0
  82        3800.0              187.0
  107       3900.0              190.0
  328       4575.0              208.0
  151       4000.0              201.0
  ..           ...                ...
  55        3700.0              191.0
  70        3600.0              190.0
  55        3700.0              191.0
  254       5150.0              220.0
  38        3300.0              181.0

  [100 rows x 2 columns],
  217    1
  224    2
  273    2
  143    0
  192    1
        ..
  290    2
  261    2
  104    0
  243    2
  328    2
  Name: species, Length: 233, dtype: int64,
  103    0
  82     0
  107    0
  328    2
  151    0
        ..
  55     0
  70     0
  55     0
  254    2
  38     0
  Name: species, Length: 100, dtype: int64],
 [     bill_depth_mm  flipper_length_mm
  74            17.5              190.0
  106           17.2              199.0
  282           13.9              214.0
  331           15.9              229.0
  178           18.4              200.0
  ..             ...                ...
  55            18.6              191.0
  321           17.0              228.0
  43            19.7              196.0
  284           14.2              219.0
  327           15.8              219.0

  [233 rows x 2 columns],
       bill_depth_mm  flipper_length_mm
  13            21.2              191.0
  134           17.6              187.0
  266           13.9              210.0
  313           16.1              224.0
  37            18.5              180.0
  ..             ...                ...
  189           20.7              210.0
  46            19.0              182.0
  229           15.4              215.0
  316           15.8              216.0
  247           15.0              215.0

  [100 rows x 2 columns],
  74     0
  106    0
  282    2
  331    2
  178    1
        ..
  55     0
  321    2
  43     0
  284    2
  327    2
  Name: species, Length: 233, dtype: int64,
  13     0
  134    0
  266    2
  313    2
  37     0
        ..
  189    1
  46     0
  229    2
  316    2
  247    2
  Name: species, Length: 100, dtype: int64],
 [     bill_depth_mm  sex
  236           13.5    1
  252           14.5    1
  60            16.9    1
  251           14.2    1
  14            21.1    0
  ..             ...  ...
  214           17.0    1
  167           19.6    0
  127           18.3    0
  42            18.5    1
  102           16.0    1

  [233 rows x 2 columns],
       bill_depth_mm  sex
  85            20.3    0
  279           15.3    0
  183           20.8    0
  191           19.9    0
  50            17.7    1
  ..             ...  ...
  14            21.1    0
  223           15.2    0
  210           18.8    0
  289           15.0    0
  230           13.7    1

  [100 rows x 2 columns],
  236    2
  252    2
  60     0
  251    2
  14     0
        ..
  214    1
  167    1
  127    0
  42     0
  102    0
  Name: species, Length: 233, dtype: int64,
  85     0
  279    2
  183    1
  191    1
  50     0
        ..
  14     0
  223    2
  210    1
  289    2
  230    2
  Name: species, Length: 100, dtype: int64],
 [     bill_depth_mm  body_mass_g
  18            18.4       3325.0
  101           20.0       4725.0
  179           19.0       3800.0
  187           16.8       3900.0
  34            17.0       3325.0
  ..             ...          ...
  80            17.2       3200.0
  19            21.5       4200.0
  118           17.0       3350.0
  295           16.0       5800.0
  214           17.0       3650.0

  [233 rows x 2 columns],
       bill_depth_mm  body_mass_g
  110           16.5       3825.0
  323           15.0       5500.0
  150           17.1       3700.0
  266           13.9       4200.0
  80            17.2       3200.0
  ..             ...          ...
  179           19.0       3800.0
  273           15.0       5000.0
  63            18.2       4050.0
  24            17.2       3800.0
  312           14.5       4750.0

  [100 rows x 2 columns],
  18     0
  101    0
  179    1
  187    1
  34     0
        ..
  80     0
  19     0
  118    0
  295    2
  214    1
  Name: species, Length: 233, dtype: int64,
  110    0
  323    2
  150    0
  266    2
  80     0
        ..
  179    1
  273    2
  63     0
  24     0
  312    2
  Name: species, Length: 100, dtype: int64],
 [     sex  bill_depth_mm
  44     1           16.9
  268    1           13.3
  325    0           16.1
  44     1           16.9
  90     1           18.0
  ..   ...            ...
  304    1           13.8
  34     1           17.0
  161    0           19.9
  203    0           19.0
  321    0           17.0

  [233 rows x 2 columns],
       sex  bill_depth_mm
  41     0           18.4
  159    0           18.2
  98     1           16.1
  221    0           16.3
  100    1           17.9
  ..   ...            ...
  51     0           18.9
  74     1           17.5
  38     1           19.3
  105    0           18.9
  197    0           18.5

  [100 rows x 2 columns],
  44     0
  268    2
  325    2
  44     0
  90     0
        ..
  304    2
  34     0
  161    1
  203    1
  321    2
  Name: species, Length: 233, dtype: int64,
  41     0
  159    1
  98     0
  221    2
  100    0
        ..
  51     0
  74     0
  38     0
  105    0
  197    1
  Name: species, Length: 100, dtype: int64],
 [     body_mass_g  bill_length_mm
  157       3950.0            45.2
  184       3350.0            42.5
  282       4400.0            45.7
  38        3300.0            37.6
  17        4500.0            42.5
  ..           ...             ...
  100       3725.0            35.0
  217       3775.0            49.6
  298       4750.0            45.2
  113       4275.0            42.2
  181       4550.0            52.8

  [233 rows x 2 columns],
       body_mass_g  bill_length_mm
  84        3350.0            37.3
  0         3750.0            39.1
  116       2900.0            38.6
  237       6300.0            49.2
  254       5150.0            49.1
  ..           ...             ...
  186       3600.0            49.7
  1         3800.0            39.5
  307       5300.0            51.3
  196       3675.0            50.9
  225       4550.0            46.5

  [100 rows x 2 columns],
  157    1
  184    1
  282    2
  38     0
  17     0
        ..
  100    0
  217    1
  298    2
  113    0
  181    1
  Name: species, Length: 233, dtype: int64,
  84     0
  0      0
  116    0
  237    2
  254    2
        ..
  186    1
  1      0
  307    2
  196    1
  225    2
  Name: species, Length: 100, dtype: int64],
 [     flipper_length_mm  body_mass_g
  53               200.0       4050.0
  108              181.0       3175.0
  228              209.0       4400.0
  107              190.0       3900.0
  342              212.0       5200.0
  ..                 ...          ...
  231              216.0       5550.0
  227              219.0       5200.0
  337              222.0       6000.0
  221              230.0       5700.0
  178              200.0       3400.0

  [233 rows x 2 columns],
       flipper_length_mm  body_mass_g
  266              210.0       4200.0
  179              200.0       3800.0
  238              209.0       4800.0
  256              213.0       4950.0
  226              211.0       4800.0
  ..                 ...          ...
  175              193.0       3800.0
  231              216.0       5550.0
  331              229.0       5950.0
  150              187.0       3700.0
  229              215.0       5150.0

  [100 rows x 2 columns],
  53     0
  108    0
  228    2
  107    0
  342    2
        ..
  231    2
  227    2
  337    2
  221    2
  178    1
  Name: species, Length: 233, dtype: int64,
  266    2
  179    1
  238    2
  256    2
  226    2
        ..
  175    1
  231    2
  331    2
  150    0
  229    2
  Name: species, Length: 100, dtype: int64],
 [     sex  bill_depth_mm
  343    0           16.1
  315    0           15.7
  232    1           13.7
  141    0           17.2
  174    1           16.6
  ..   ...            ...
  14     0           21.1
  24     0           17.2
  116    1           17.0
  270    1           14.2
  327    0           15.8

  [233 rows x 2 columns],
       sex  bill_depth_mm
  137    0           20.1
  208    1           16.6
  219    1           18.7
  304    1           13.8
  153    0           19.5
  ..   ...            ...
  67     0           19.1
  160    1           18.9
  304    1           13.8
  13     0           21.2
  92     1           17.1

  [100 rows x 2 columns],
  343    2
  315    2
  232    2
  141    0
  174    1
        ..
  14     0
  24     0
  116    0
  270    2
  327    2
  Name: species, Length: 233, dtype: int64,
  137    0
  208    1
  219    1
  304    2
  153    1
        ..
  67     0
  160    1
  304    2
  13     0
  92     0
  Name: species, Length: 100, dtype: int64],
 [     bill_depth_mm  bill_length_mm
  243           15.8            46.3
  280           13.8            45.3
  110           16.5            38.1
  294           15.0            46.4
  77            19.4            37.2
  ..             ...             ...
  161           19.9            51.3
  24            17.2            38.8
  19            21.5            46.0
  101           20.0            41.0
  245           15.1            46.1

  [233 rows x 2 columns],
       bill_depth_mm  bill_length_mm
  23            18.1            38.2
  14            21.1            34.6
  121           19.8            37.7
  280           13.8            45.3
  50            17.7            39.6
  ..             ...             ...
  177           19.0            52.0
  95            18.9            40.8
  240           14.3            50.2
  175           19.4            50.6
  6             17.8            38.9

  [100 rows x 2 columns],
  243    2
  280    2
  110    0
  294    2
  77     0
        ..
  161    1
  24     0
  19     0
  101    0
  245    2
  Name: species, Length: 233, dtype: int64,
  23     0
  14     0
  121    0
  280    2
  50     0
        ..
  177    1
  95     0
  240    2
  175    1
  6      0
  Name: species, Length: 100, dtype: int64],
 [     body_mass_g  bill_length_mm
  174       2900.0            43.2
  170       3450.0            46.4
  151       4000.0            41.5
  88        3950.0            38.3
  81        4700.0            42.9
  ..           ...             ...
  77        3900.0            37.2
  64        2850.0            36.4
  22        3800.0            35.9
  328       4575.0            43.3
  162       3800.0            46.6

  [233 rows x 2 columns],
       body_mass_g  bill_length_mm
  282       4400.0            45.7
  193       3650.0            46.2
  191       4500.0            53.5
  199       4300.0            49.0
  249       5550.0            50.0
  ..           ...             ...
  233       5850.0            48.4
  318       4625.0            48.4
  37        3550.0            42.2
  187       3900.0            47.5
  115       4075.0            42.7

  [100 rows x 2 columns],
  174    1
  170    1
  151    0
  88     0
  81     0
        ..
  77     0
  64     0
  22     0
  328    2
  162    1
  Name: species, Length: 233, dtype: int64,
  282    2
  193    1
  191    1
  199    1
  249    2
        ..
  233    2
  318    2
  37     0
  187    1
  115    0
  Name: species, Length: 100, dtype: int64],
 [     bill_length_mm  flipper_length_mm
  276            43.8              208.0
  193            46.2              187.0
  322            47.2              215.0
  183            54.2              201.0
  106            38.6              199.0
  ..              ...                ...
  5              39.3              190.0
  202            48.1              199.0
  129            44.1              210.0
  15             36.6              185.0
  305            50.8              228.0

  [233 rows x 2 columns],
       bill_length_mm  flipper_length_mm
  326            41.7              210.0
  124            35.2              186.0
  337            48.8              222.0
  113            42.2              197.0
  139            39.7              193.0
  ..              ...                ...
  328            43.3              208.0
  267            50.5              225.0
  82             36.7              187.0
  193            46.2              187.0
  307            51.3              218.0

  [100 rows x 2 columns],
  276    2
  193    1
  322    2
  183    1
  106    0
        ..
  5      0
  202    1
  129    0
  15     0
  305    2
  Name: species, Length: 233, dtype: int64,
  326    2
  124    0
  337    2
  113    0
  139    0
        ..
  328    2
  267    2
  82     0
  193    1
  307    2
  Name: species, Length: 100, dtype: int64],
 [     bill_length_mm  bill_depth_mm
  149            37.8           18.1
  109            43.2           19.0
  128            39.0           17.1
  117            37.3           20.5
  28             37.9           18.6
  ..              ...            ...
  316            49.4           15.8
  235            49.3           15.7
  305            50.8           17.3
  136            35.6           17.5
  19             46.0           21.5

  [233 rows x 2 columns],
       bill_length_mm  bill_depth_mm
  143            40.7           17.0
  298            45.2           13.8
  219            50.2           18.7
  196            50.9           17.9
  150            36.0           17.1
  ..              ...            ...
  217            49.6           18.2
  126            38.8           17.6
  106            38.6           17.2
  238            46.2           14.5
  177            52.0           19.0

  [100 rows x 2 columns],
  149    0
  109    0
  128    0
  117    0
  28     0
        ..
  316    2
  235    2
  305    2
  136    0
  19     0
  Name: species, Length: 233, dtype: int64,
  143    0
  298    2
  219    1
  196    1
  150    0
        ..
  217    1
  126    0
  106    0
  238    2
  177    1
  Name: species, Length: 100, dtype: int64],
 [     sex  body_mass_g
  337    0       6000.0
  274    1       4900.0
  291    0       5000.0
  213    1       3650.0
  24     0       3800.0
  ..   ...          ...
  31     0       3900.0
  153    0       3900.0
  319    0       5250.0
  330    1       5000.0
  158    1       3250.0

  [233 rows x 2 columns],
       sex  body_mass_g
  137    0       3975.0
  124    1       3050.0
  173    0       3400.0
  98     1       2900.0
  92     1       3400.0
  ..   ...          ...
  247    0       5650.0
  238    1       4800.0
  45     0       4600.0
  42     1       3100.0
  322    1       4975.0

  [100 rows x 2 columns],
  337    2
  274    2
  291    2
  213    1
  24     0
        ..
  31     0
  153    1
  319    2
  330    2
  158    1
  Name: species, Length: 233, dtype: int64,
  137    0
  124    0
  173    1
  98     0
  92     0
        ..
  247    2
  238    2
  45     0
  42     0
  322    2
  Name: species, Length: 100, dtype: int64],
 [     sex  flipper_length_mm
  238    1              209.0
  327    0              219.0
  33     0              184.0
  59     0              194.0
  266    1              210.0
  ..   ...                ...
  194    0              196.0
  136    1              191.0
  215    0              207.0
  87     1              189.0
  301    0              221.0

  [233 rows x 2 columns],
       sex  flipper_length_mm
  301    0              221.0
  189    0              210.0
  323    0              228.0
  231    0              216.0
  253    0              230.0
  ..   ...                ...
  56     1              186.0
  219    1              198.0
  285    0              230.0
  233    0              213.0
  273    0              225.0

  [100 rows x 2 columns],
  238    2
  327    2
  33     0
  59     0
  266    2
        ..
  194    1
  136    0
  215    1
  87     0
  301    2
  Name: species, Length: 233, dtype: int64,
  301    2
  189    1
  323    2
  231    2
  253    2
        ..
  56     0
  219    1
  285    2
  233    2
  273    2
  Name: species, Length: 100, dtype: int64],
 [     bill_length_mm  bill_depth_mm
  164            47.0           17.3
  17             42.5           20.7
  198            50.1           17.9
  250            47.3           15.3
  172            42.4           17.3
  ..              ...            ...
  68             35.9           16.6
  107            38.2           20.0
  46             41.1           19.0
  265            43.6           13.9
  73             45.8           18.9

  [233 rows x 2 columns],
       bill_length_mm  bill_depth_mm
  50             39.6           17.7
  287            49.5           16.2
  323            49.1           15.0
  140            40.2           17.1
  27             40.5           17.9
  ..              ...            ...
  320            48.5           15.0
  124            35.2           15.9

In [10]:
models=[]

for split in splits:
    model = DecisionTreeClassifier(max_depth=5, min_samples_leaf=20)
    model.fit(split[0], split[2])
    models.append(model)
    
models[0].feature_names_in_

array(['body_mass_g', 'bill_length_mm'], dtype=object)

In [11]:
test_X= df.drop(['species', 'island'], axis=1).sample(1, random_state=241)
test_X

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  sex
157            45.2           17.8              198.0       3950.0    1

In [12]:
predictions = []

for j in range(len(models)):
    features = list(models[j].feature_names_in_)
    new_X = test_X.loc[:,features] 
    y_pred = models[j].predict(new_X)
    predictions.append(y_pred[0])

# for model in models:
#     for split in splits:
#         print(model.
#         y_pred = model.predict(split[1])
#     predictions.append(y_pred[0])
predictions

[1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0]

In [13]:
final_prediction = pd.DataFrame(predictions).value_counts().idxmax()[0]
final_prediction

1